/* daftar */
:root {
  /* warna */
  --bluesoft: #f9fbfc;
  --blue: #3a38ff;
  --navy: #101041;
  --purplesoft: #e5e4ff;
  --darkgrey: #949293;
  --darkgrey2: #e7ebed;
  --grey: #dfe2e7;
  --purple: #6261d8;
  --grenn: #316762;
  --white: #ffffff;
  /* fonts */
  --fwextrabold: 800;
  --fwbold: 700;
  --fwsemibold: 600;
  --fwmedium: 500;
  --fwregular: 400;
  --fwlight: 300;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bluesoft);
}

.big-header {
  font-weight: var(--fwextrabold);
  color: var(--navy);
  font-size: 48px;
  margin: 0;
}

.medium-header {
  font-weight: var(--fwbold);
  color: var(--navy);
  font-size: 28px;
  margin: 0;
}

.small-header {
  font-weight: var(--fwbold);
  color: var(--navy);
  font-size: 22px;
  margin: 0;
}

.primary-copy {
  font-weight: var(--fwregular);
  color: var(--grey);
  font-size: 16px;
  margin: 0;
  line-height: 28px;
}

.btn-primary {
  padding: 12px 20px 12px 20px;
  background: var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fwsemibold);
  border-radius: 50px;
  border: 0;
}

/* effect hover */
.btn-primary:hover {
  background: var(--navy);
  color: var(--white);
}

.btn-secondary {
  padding: 12px 20px 12px 20px;
  background: var(--grey);
  color: var(--navy);
  font-size: 16px;
  font-weight: var(--fwmedium);
  border-radius: 50px;
  border: 0;
}

/* btn hover */
.btn-secondary:hover {
  background: var(--navy);
  color: var(--white) !important;
}

.navbar-nav .nav-item a:hover {
  color: var(--blue);
  transition: all 0.3s ease;
  font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item a {
  color: var(--navy);
  transition: all 0.3s ease;
}

.navbar-nav .nav-item {
  padding-right: 25px;
  padding-left: 25px;
  font-weight: var(--fwregular);
}

.navbar-brand {
  font-weight: var(--fwbold);
  color: var(--navy);
  font-size: 28px;
  margin: 0;
}

/* menghilangkan padding bs5 navbar */
.navbar {
  --bs-navbar-padding-y: 0;
}

.casher-navbar {
  background: var(--white);
  padding: 30px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
}

/* header / banner */
.badge {
  padding: 8px 16px 8px 16px;
  background: var(--purplesoft);
  border-radius: 50px;
  width: 300px;
}

.badge .icon {
  float: left;
  margin-right: 6px;
}

.small-copy {
  font-size: 14px;
  color: var(--navy);
  font-weight: var(--fwsemibold);
}

.badge .small-copy {
  padding-top: 4px;
  margin: 0;
}

.big-header {
  font-weight: var(--fwextrabold);
  color: var(--navy);
  font-size: 48px;
  line-height: 60px;
  margin: 0;
}

.primary-copy {
  font-weight: var(--fwregular);
  color: var(--darkgrey);
  font-size: 16px;
  margin: 0;
  line-height: 28px;
}

/* jarak */
.mb-16 {
  /* margin form*/
  margin-bottom: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-70 {
  margin-top: 70px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

/* companies */
.card-brand {
  width: 277px;
  height: 110px;
  border-radius: 16px;
  background: var(--darkgrey2);
  text-align: center;
}

.card-brand .logo {
  height: 50px;
  margin-top: 30px;
}
/* carousel-rigth */
.carousel-wrapper {
  display: flex;
  height: 110px;
  /* animasi */
  animation: moveToleft 25s linear infinite;
}

.carousel {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

/* animasi carousel */
@keyframes moveToleft {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* carouser bot-left */
.carousel-wrapper-left {
  display: flex;
  height: 110px;
  /* animasi */
  animation: moveToRight 25s linear infinite;
}

.carousel-left {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  height: 110px;
  overflow: hidden;
}

/* animasi carousel */
@keyframes moveToRight {
  0% {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

/* features */
.text-button {
  text-decoration: none;
  color: var(--blue);
}
.text-button:hover {
  text-decoration: underline;
  color: var(--navy);
}
/* big card */
.features .features-wrapper .big-feature-card {
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}

.features .features-wrapper .icon {
  float: left;
  margin-right: 18px;
  width: 60px;
  height: 200px;
}
.features .features-wrapper img {
  width: 60px;
  height: 60px;
}

/* small card */
.features .features-wrapper .small-feature-card {
  padding: 30px;
  border-radius: 16px;
  background: var(--white);
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
}
.features .features-wrapper .small-feature-card .icon {
  height: 100px;
}

.features .features-wrapper h3 {
  padding-top: 16px;
}

/* blur effect */
.features-wrapper:hover .big-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3s ease;
}
.features-wrapper:hover .small-feature-card:not(:hover) {
  filter: blur(4px);
  transition: all 0.3s ease;
}

/* global form control */
.form-control {
  border-radius: 50px;
  border: 0;
  background: var(--white);
  padding: 12px 20px 12px 20px;
}
.form-select {
  border-radius: 50px;
  border: 0;
  background: var(--white);
  padding: 12px 20px 12px 20px;
  background-image: url("../images/ic_ad.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}
textarea.form-control {
  resize: none;
  border-radius: 16px;
}
